@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --transition: 150ms ease-in-out;
    --mainCool: rgb(35, 166, 240);
}


body  {
    background: rgb(37 43 66);
    font-family: "Montserrat", sans-serif !important;
}

header {
    display: flex;
    padding: 15px;
    color: white;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.title {
    font-weight: 500;
    font-size: 25px;
    /* padding-left: 110px; */
}

.headerItems {
    display: flex;
    grid-gap: 450px;
    font-size: smaller;
    align-items: center;
}

.header4left {
    display: flex;
    grid-gap: 25px;
}

.header2right {
    display: flex;
    grid-gap: 45px;
    align-items: center;
}

button {
    border: 1px;
    width: 95px;
    height: 40px;
    display: flex;
    color: white;
    cursor: pointer;
    font-size: smaller;
    border-radius: 4px;
    align-items: center;
    text-transform: uppercase;
    background: var(--mainCool);
    transition: var(--transition);
    justify-content: space-evenly;
}
button:hover {
    border: none;
    color: black;
    background: white;
}
button:hover svg path {
    fill: black;
}

svg path {
    transition: var(--transition);
}

h1 {
    display: flex;
    font-size: smaller;
    padding-top: 35px;
    padding-bottom: 50px;
    justify-content: center;
    color: var(--mainCool);
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    max-width: 525px;
    margin: 55px auto 30px;
    text-align: center;
}

.section2 {
    display: flex;
    grid-gap: 8px;
    justify-content: center;
}

.mainButton {
    min-width: 140px;
    text-transform: none;
}

.outlineButton {
    color: white;
    background: transparent;
    border: 1px var(--mainCool) solid;
}

.footBox {
    width: 245px;
    height: 185px;
    color: black;
    cursor: pointer;
    background: white;
    transition: var(--transition);
    border-radius: 1px;
    padding: 40px;
}
.footBox:hover {
    color: white;
    background: var(--mainCool);
}

.footBox p {
    color: gray;
    font-size: 11px;
    font-weight: 600;
    margin: 24px 0;
    text-align: left;
}

h3 {
    font-size: 14px;
    margin: 17px 0;
}

.redBox {
    background: rgb(255 0 0 / 20%);
}

.iconContainer {
    height: 62px;
    width: 60px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 25px;
}

.kumonIcon {
    color: red;
}

hr {
    max-width: 50px;
    margin: 0 auto 0 0;
    border-color: red;
    border-style: solid;
}

.footerSection {
    display: flex;
    grid-gap: 25px;
    padding-top: 75px;
    justify-content: center;
}

/* Deprecated */
/* .footBox {
    height: 250px;
    width: 250px;
    background: white;
}

.footerSection {
    display: flex;
    justify-content: center;
    grid-gap: 25px;
    padding-top: 75px;
}

.footBox:hover {
  background-color: rgb(35 166 240);
  color: white;
} */